.input-style {
padding: 80px 0px 20px 0px;
gap: 5Dpx;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.header-style {
  font-size: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-style {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;

}

.component-style {
  width: 120px;
  height: 120px;

  border: 1px solid green;
  border-radius: 10px;

  display: flex;
  text-align: center;
}